version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    groups:
      all:
        patterns:
          - '*'

  - package-ecosystem: docker
    directory: /
    schedule:
      interval: monthly
    groups:
      all:
        patterns:
          - '*'

  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: monthly
    groups:
      all:
        patterns:
          - '*'
