[submodule "vendor/github.com/bmizerany/pat"]
	path = vendor/github.com/bmizerany/pat
	url = https://github.com/bmizerany/pat
[submodule "vendor/github.com/nightlyone/lockfile"]
	path = vendor/github.com/nightlyone/lockfile
	url = https://github.com/nightlyone/lockfile
[submodule "vendor/github.com/aws/aws-sdk-go"]
	path = vendor/github.com/aws/aws-sdk-go
	url = https://github.com/aws/aws-sdk-go
[submodule "vendor/github.com/go-ini/ini"]
	path = vendor/github.com/go-ini/ini
	url = https://github.com/go-ini/ini
[submodule "vendor/github.com/jmespath/go-jmespath"]
	path = vendor/github.com/jmespath/go-jmespath
	url = https://github.com/jmespath/go-jmespath
[submodule "vendor/github.com/golang/mock"]
	path = vendor/github.com/golang/mock
	url = https://github.com/golang/mock
[submodule "vendor/github.com/stretchr/testify"]
	path = vendor/github.com/stretchr/testify
	url = https://github.com/stretchr/testify
[submodule "vendor/github.com/davecgh/go-spew"]
	path = vendor/github.com/davecgh/go-spew
	url = https://github.com/davecgh/go-spew
[submodule "vendor/github.com/pmezard/go-difflib"]
	path = vendor/github.com/pmezard/go-difflib
	url = https://github.com/pmezard/go-difflib
