name: continuous-integration

on:
  push:
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.18.x, 1.19.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    env:
      GO111MODULE: on
    steps:
      -
        name: Checkout code
        uses: actions/checkout@v3

      -
        name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}

      -
        name: Test code
        run: |
          go test ./pkg/...

      -
        name: Vet code
        run: |
          go vet ./pkg/...
